UpdateParkingLotService/TestAccesToWCF/Connected Services/TestUpdateParkingLotService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddCarToParkingLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carRegNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parkingSpaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarToParkingLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCarFromParkingLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parkingSpaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCarFromParkingLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddCarToParkingLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carRegNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parkingSpaceId" type="xs:int" />
        <xs:element minOccurs="0" name="connString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddCarToParkingLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRemoveCarFromParkingLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parkingSpaceId" type="xs:int" />
        <xs:element minOccurs="0" name="connString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRemoveCarFromParkingLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>