UpdateParkingLotService/TestAccesToWCF/Connected Services/TestUpdateParkingLotService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58014/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58014/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddCarToParkingLot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCarToParkingLot" />
  </wsdl:message>
  <wsdl:message name="IService_AddCarToParkingLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarToParkingLotResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveCarFromParkingLot_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCarFromParkingLot" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveCarFromParkingLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCarFromParkingLotResponse" />
  </wsdl:message>
  <wsdl:message name="ITest_TestAddCarToParkingLot_InputMessage">
    <wsdl:part name="parameters" element="tns:TestAddCarToParkingLot" />
  </wsdl:message>
  <wsdl:message name="ITest_TestAddCarToParkingLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestAddCarToParkingLotResponse" />
  </wsdl:message>
  <wsdl:message name="ITest_TestRemoveCarFromParkingLot_InputMessage">
    <wsdl:part name="parameters" element="tns:TestRemoveCarFromParkingLot" />
  </wsdl:message>
  <wsdl:message name="ITest_TestRemoveCarFromParkingLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRemoveCarFromParkingLotResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddCarToParkingLot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddCarToParkingLot" message="tns:IService_AddCarToParkingLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddCarToParkingLotResponse" message="tns:IService_AddCarToParkingLot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCarFromParkingLot">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveCarFromParkingLot" message="tns:IService_RemoveCarFromParkingLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveCarFromParkingLotResponse" message="tns:IService_RemoveCarFromParkingLot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITest">
    <wsdl:operation name="TestAddCarToParkingLot">
      <wsdl:input wsaw:Action="http://tempuri.org/ITest/TestAddCarToParkingLot" message="tns:ITest_TestAddCarToParkingLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITest/TestAddCarToParkingLotResponse" message="tns:ITest_TestAddCarToParkingLot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestRemoveCarFromParkingLot">
      <wsdl:input wsaw:Action="http://tempuri.org/ITest/TestRemoveCarFromParkingLot" message="tns:ITest_TestRemoveCarFromParkingLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITest/TestRemoveCarFromParkingLotResponse" message="tns:ITest_TestRemoveCarFromParkingLot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCarToParkingLot">
      <soap:operation soapAction="http://tempuri.org/IService/AddCarToParkingLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCarFromParkingLot">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveCarFromParkingLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITest" type="tns:ITest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestAddCarToParkingLot">
      <soap:operation soapAction="http://tempuri.org/ITest/TestAddCarToParkingLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRemoveCarFromParkingLot">
      <soap:operation soapAction="http://tempuri.org/ITest/TestRemoveCarFromParkingLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58014/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITest" binding="tns:BasicHttpBinding_ITest">
      <soap:address location="http://localhost:58014/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>