UpdateParkingLotService/CarParkWpf/Connected Services/ReadParkingLotService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58751/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:58751/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDTOParkingSpace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOParkingSpace" nillable="true" type="tns:DTOParkingSpace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOParkingSpace" nillable="true" type="tns:ArrayOfDTOParkingSpace" />
  <xs:complexType name="DTOParkingSpace">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarRegNr" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Coordinates" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DTOParkingSpace" nillable="true" type="tns:DTOParkingSpace" />
</xs:schema>